body{
    margin-left: 10%;
    margin-right: 10%;
}

#beauty{
    display: flex;
    gap: 20px;
    }

#Construction{
    display: flex;
    gap: 20px;
    
    }

img{
    width: 100%;
}

#main-container{
    display: flex;
    gap: 30px;
}

.heading{
    font-size: 30px;
    font-weight: bold;
}

.hero-heading{
    font-size: 2rem;
    font-weight: bold;

}

.logo{
    font-size: 30px;
    font-style: italic;
    color: orange;
}

@media (max-width:800px) {
    #main-container{
        flex-direction: column;
    }
    #beauty {
        flex-direction: column;
    }

    #Construction{
        flex-direction: column;

    }

    
}