@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", serif;
    box-sizing: border-box; 

    /* margin: 5px; */
}

header{
    padding-left: 10%;
    padding-right: 10%;
    background-color: #2d5f52;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}



section{

    margin: 5% 10%  5% 10%;
}
p{
    font-size: 18px;
    line-height: 1.5;
}
body{
    /* padding: 0 150px 0 150px ; */
    background-color: #121216;
    color: #fafbfb;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    /* margin: 80px 150px 50px 150px; */

}
a{
    text-decoration: none;
    color: #fff;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* position: fixed;
    z-index: 9999; */
}
.nav-links{
    margin-left: 10px;
    margin-right: 10px;
}

#hero-section{ 
    padding-top: 8%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    background-color: #2d5f52;
    background-image: ('assets/img/bash.png');
}
.content{
    padding:40px 80px 0px 80px;
}
.name{
    font-size: 60px;
    margin-bottom: 5px;

}
#about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

button{
    background-color: orange;
    border: orange;
    color: white;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    
}

.about-button{
    margin-top: 20px;
}

#experience-section{
    display: flex;
    justify-content: center;

}
.experience-content{
flex: 2;
margin-right: 180px;
}
.details{
    flex: 1;
    }

#projects-section{
    background-color: #000;
    padding-top: 60px;
    padding-bottom: 10px;
}
#projects-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px 10% 30px 10%;

}

.text-button{
    color: orange;
}
.text-button:hover{
    color:#2d5f52 ;
    font-size: 18px;
}

.project-card{
    background-color: #16161b;
    /* padding: 20px; */
    border-radius: 10px;
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    min-height: 400px;
    max-height: 800px;
}

.service-card{
    background-color: #16161b;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    min-height: 300px;
    max-height: 600px;
}
.service-card:hover{
background-color: #2d5f52;
}

.card-content{
    padding: 30px;
}

.card-image{
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
input{
    width: 700px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: white;
    border: 1px solid white;
}

textarea{
    width: 700px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid white;}

.contacts{
    display: flex;
    justify-content: space-between;
}
footer{
    padding: 80px 0 5px 0;
    background-color: #122722;
    border-top-left-radius:  80px;
    border-top-right-radius:  80px;
    margin-top: 100px;

}

.divider{
    border-top: 1px solid rgba(128, 128, 128, 0.222);
    margin-top: 100px;
    width: 100%;
}


/* responsiveness phone */

@media screen and (max-width: 768px){

    #hero-section{
        flex-direction: column;
        padding-top: 20%;
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 10%;
    }
    header{
        padding-left: 5%;
        padding-left: 20px;
        padding-right: 20px;
    }
    #about{
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }
    .about-image{
        width:95%;

    }
    .experience-content{
        flex: 2;
        margin-right: 3%;
        }

    section{

            margin: 3% 5%  3% 5%;
        }
    .name{
        font-size: 50px;
        margin-bottom: 5px;}

    .content{
        padding:20px 20px 0px 3%;
        }
    #experience-section{
        flex-direction: column;
        text-align: center;
    }

    #projects-cards{
        padding: 3% 5% 3% 5%;}


    .contacts{
        flex-direction: column;
    }
    input{
        width: 100%;
    }

    textarea{
        width: 100%;
    }
    .main-contacts{
        margin: 3%;
        padding-top: 10%;
    }
    p{
        font-size: 1.5rem;
    }

    .service-card{
        background-color: #16161b;
        padding: 1rem;

    }

    h2, h3, h4{
        font-size: 1.5rem;
    }
    .hero-paragraph{
        padding-left: 3%;
        padding-right: 3%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #projects-cards{
        flex-direction: column;
    }

    /* .card-1, .card-2, .card-3{
        min-width: 70%;
        max-width: 80%;
        min-height: 90%;
        max-height: 100%;
    
    } */

    .project-card{
        min-width: 70%;
        max-width: 80%;
        min-height: 90%;
        max-height: 100%; 
    }

    .service-card{
        min-width: 70%;
        max-width: 80%;
        min-height: 90%;
        max-height: 100%;
    }
    .contact-details{
        text-align: center;
    }
    .Send-btn {
        display: block;
        margin: 0 auto;
      }
}

@media screen and (min-width: 820px) and (max-width: 1280px) {
    #projects-cards{
        flex-direction: column;
    }
    #hero-section{
        flex-direction: column;
        padding-bottom: 8rem;
    }

    #about{
        flex-direction: column;
        gap: 80px;
    }
    #experience-section{
        flex-direction: column;
        text-align: center;
        
    }
    .experience-content{
        flex: 2;
        margin-right: 0;
        }
    .project-card{
        min-width: 70%;
        max-width: 80%;
        min-height: 90%;
        max-height: 100%;
    
    }

    .service-card{
        min-width: 70%;
        max-width: 80%;
        min-height: 90%;
        max-height: 100%;
    }
    .contact-details{
        text-align: center;
    }
    .Send-btn {
        display: block;
        margin: 0 auto;
      }

      .about-image{
        width:100%;

    }
    .contacts{
        flex-direction: column;
    }
    .contact-details{
        text-align: center;
        margin-top: 3rem;
    }

    .Send-btn {
        display: flex;
        justify-content: left;
        margin: 3rem auto;
      }

}